.header_main {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;

}

.header_main_text {
  font-size: 17px;
  color: #000;
  margin-left: 50px;
  text-decoration: none;

}

.header_secondary_text {
  font-size: 17px;
  font-weight: 700;
  color: #000;
}

.header_main_text.program_btn {
  color: red;

}

.logout_btn {}


.main_box {
  width: 50%;
  margin: 0 auto;
  margin-top: 80px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 89vh;
  padding: 25px;
}

.amount_box {

  position: relative;
}

.course_no {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50px;
  background-color: rgb(255, 144, 144);
  color: red;
  text-align: center;
  align-items: center;
  font-size: 45px;
  border: 3px solid red;
  left: 10rem;
  top: 0.5rem;
  padding: 8px;



}

.courses {
  width: 130px;
  height: 130px;
  border-radius: 65px;
  background-color: rgb(235, 235, 235);
  color: grey;
  border: 5px solid grey;
  text-align: center;
  align-items: center;
  font-size: 65px;
  padding: 8px;
  margin: auto;

}

.course_red {
  background-color: rgb(255, 144, 144);
  color: red;
  border: 5px solid red;
}

.course_blue {
  background-color: rgba(108, 108, 251, 0.656);
  color: blue;
  border: 5px solid blue;
}

.bet_amount {
  font-size: 20px;
  font-weight: 700;
  color: grey;
  margin-top: 5px;
}

.bet_amount.bet_amount_blue {
  color: blue;

}

.bet_amount.bet_amount_red {
  color: red;

}

.amount {
  font-size: 30px;
  font-weight: 700;
  /* border: 1px solid black; */
  box-shadow: #e4b303a8 0px 0px 0px 3px;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 30px;
  border-radius: 60px;
}


.box_btn {
  width: 140px !important;
  height: 80px !important;
  font-size: 22px !important;
  font-weight: bold !important;
  padding: 3px 10px 10px 10px !important;
  border-radius: 10px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
}

.box_btn2 {
  width: 120px !important;
  height: 50px !important;
  font-size: 18px !important;
  font-weight: bold !important;
  padding: 3px 10px 10px 10px !important;
  border-radius: 10px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
  background-color: none !important;
  border: 1px solid rgba(0, 0, 0, 0.877) !important;
}

.box_btn2:hover {
  color: white !important;
  background-color: rgba(0, 0, 0, 0.877) !important;
}


.loose_btn {
  background-color: rgb(234, 0, 0) !important;
  border: none !important;
  outline: none;
}

.loose_btn:hover {
  background-color: rgb(255, 0, 0) !important;
}

.win_btn {
  background-color: green !important;
  border: none !important;
  outline: none;
}

.win_btn:hover {
  background-color: rgb(3, 139, 3) !important;
}

.tie_btn {
  background-color: rgb(40, 40, 40) !important;
  border: none !important;
  outline: none;
}

.tie_btn:hover {
  background-color: rgb(68, 68, 68) !important;
}

.arrow_box {
  /* border: 1px solid black; */
  /* padding: 10px; */
}

.arrows {
  border: 1px solid black;
  font-size: 40px !important;
  transition: all 1s;
}

.arrows:hover {
  cursor: pointer;
  color: white !important;
  background-color: black !important;
}

.course_inputBox {
  border: 1px solid rgb(49, 49, 49);
  font-size: 40px;
  text-align: center;
  /* padding: 5px 60px; */
}